.Tag__Result li, .InputTags .add__Tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    padding: 0 3px;
    margin: 2px;
}
.TagClose__Icon{
    font-size: 12px;
    padding: 0 2px;
    cursor: pointer;
}